/* Google fonts: Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    
    /* remove default styling */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 0rem 1.5rem 0rem;
}

img {
    width: 100%;
    max-width: 12rem;
    height: 100%;
    border-radius: 12px;
    margin: .5rem 1.5rem 0rem;
}

video {
    width: 100%;
    max-width: 36rem;
    height: 100%;
    border-radius: 12px;
}

input {
    outline: none;
}


button, .btn {
    /* config */
    cursor: pointer;
    padding: 1.3rem;
    background-color: white;
    border-radius: 8px;
    color: rgb(217 119 6);
    border: .7px solid rgb(209 213 219);
    width: fit-content;

    /* font */
    letter-spacing: 0.050em;
    font-weight: 550;
}

#liveView {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem 1.5rem;
}

.guide-a, .guide-b {
    padding: 0rem 1.5rem;
}

.guide-a {
    font-size: x-large;
}

#input-prediction {
    font-size: medium;
    color: rgb(150, 152, 156)
}

.invisible {
    opacity: 0.2;
}

.hidden {
    display: none;
}

/* Upload image  */
#img-input {
    opacity: 0;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    cursor: pointer;
    padding: 1.3rem;
}

.btn {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 0rem 1.3rem;
}